:root {
    --primary-color: #8ECAE6;
    --secondary-color: #219EBC;
    --accent1-color: #023047;
    --accent2-color: #FFB703;
    --background-color: #f0f0f0;
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Roboto', sans-serif;
}
body{
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    /* background-color: var(--primary-color); */
}

header{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

    /* top: 50px; */
    /* display: grid; */
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1fr 3fr; */
    /* align-items: center; */
    background-color: var(--primary-color);
    /* padding: 1rem 2rem; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 100px;
    display: flex;
    align-items: center;
    /* margin: 30px 0 0 30px; */
    margin-right: 1rem;
    /* padding: 25px; */
    /* height: auto; */
    /* left: 30px; */
}

nav{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

nav ul{
    list-style-type: none;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    /* margin: 0; */
    /* padding: 0; */
}

nav li{
    /* display: inline; */
    /* padding: 20px; */
    margin-left: 2rem;
    display: flex;

}

nav a{
    text-decoration: none;
    color: var(--background-color);
    font-family: "Poppins", sans-serif;
    /* font-size: 1rem; */
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
nav a:hover{
    color: var(--accent2-color);
}



main{
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
}

.about-us{
    position: absolute;
    color: var(--background-color);
    font-family: var(--heading-font);
    justify-content: center;
    text-align: center;
    background-color: rgba(233, 233, 238, 0.619);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.contact-us{
    color: var(--accent1-color);
    font-family: var(--heading-font);
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
}

.company-info{
    color: var(--background-color);
    margin-bottom: 30px;
    overflow: hidden;
    background-color: var(--accent1-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.company-info h2{
    font-size: 1.5rem;

}

.company-info p{
    font-size: 1rem;
}
.company-info a{
    color: var(--background-color);
}


.employee {
    color: var(--background-color);
    margin-bottom: 5rem;
    padding: 4px 2rem;
    background-color: var(--accent1-color);
}

.employee h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.employee img {
    display: flex;
    justify-content: flex-end;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.employee figcaption{
    font-size: 1.15rem;
    font-weight: bold;
    margin-top: 0.5rem;
    text-align: center;
}
.employee-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employee figure{
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message label{
    padding-right: 0;
}


h2 {
    font-size: 2em;
    text-align: left;
    margin-top: 20px;
}


.history{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 2rem; */
    padding: 1rem ;
    margin-top: 10px;
    background-color: var(--secondary-color);
    color: #f5f5f5;
    /* background-color: var(--background-color); */
    /* border-radius: 5px; */
}

.history-content{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
}

.history h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.history-content p{
    padding: 1px;
    margin: 1rem;
    display: flex;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--background-color);

}

.history-image img{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
}
.adventure{
    padding: 4rem 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--accent1-color);
    color: var(--background-color);
}

.adventure h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.adventure-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adventure-grid figure{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventure-grid img{
    display: flex;
    justify-content: flex-end;
    width: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.adventure-grid figcaption{
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0.5rem;
    text-align: center;
}





article{
    position: absolute;
}
article img{
    float: right;
}
article h2{
    color: var(--background-color);
}
.article-content p {
    color: var(--accent2-color);
}


.hero{
    position: relative;
    background-size: cover;
    height: 400px;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.5);
    color: var(--accent2-color);
}
.hero article{
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: rgba(39, 29, 214, 0.537);
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    width: 90%;
    height: 140px;
}

.hero article p{
    /* float: right; */
    color: var(--background-color);
    /* top: 20px; */
    font-size: large;
}
.hero article img{
    width: 200px;
    height: 140px;
    border-radius: 5px;
    margin-left: 10px;
}
section p{
    margin: 10px 0;
}

section img{
    margin: 5px;
}


form{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    border-radius: 0.5rem;
    background-color: var(--accent1-color);
    color: var(--background-color);
    display: grid;
}

.form-item{
    display: grid;
    align-items: center;
}

.column2{
    grid-template-columns: 1fr 2fr;
}

fieldset{
    display: grid;
    gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
}
legend{
    padding: 0.5rem;
    /* color: navy; */
    font-size: 1.3rem;
}

label, input, button, select, textarea{
    font-family: Roboto, Arial, sans-serif;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"]{
    width: 20px;
    height: 15px;
    vertical-align: bottom;
    margin-top: 15px;
}


button{
    margin: 1rem;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover{
    background-color: var(--primary-color);
}

footer {
    max-width: 1150px;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 1.5rem;
    margin-bottom: 5.5px;
}
.footer-content{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    max-width: 1200px;
    /* background-color: var(--secondary-color); */
    margin: 0 auto;
}

.footer-content p{
    display: grid;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    margin: 0;
    /* color: var(--accent1-color); */
    /* font-family: var(--body-font); */
    font-size: 1.1rem;
    /* padding-left: 20rem; */
}
.footer-content p a{
    color: var(--accent1-color);
    text-decoration: none;
    /* font-size: 1rem; */
    margin: 1rem;
    padding-right: 10rem;
}

.social-icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}


.social-icon img{
    /* display: flex; */
    /* justify-content: flex-end; */
    /* flex-direction: column; */
    width: 30px;
    height: 30px;
    margin: 0 8px;
}

.social-icons{
    display: flex;
    align-items: center;
    /* margin-left: 1rem; */
    margin-right: 30px;
}
