:root {
    --primary-color: #8ECAE6;
    --secondary-color: #219EBC;
    --accent1-color: #023047;
    --accent2-color: #FFB703;
    --background-color: #f0f0f0;
    /* --bgdcolor: #fb8500; */
    /* --color1: #caf0f8; */
    /* --color2: #ade8f4; */
    /* --color3:  */
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Roboto', sans-serif;
}
body{
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    /* background-color: var(--primary-color); */
}

header{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

    /* top: 50px; */
    /* display: grid; */
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1fr 3fr; */
    /* align-items: center; */
    background-color: var(--primary-color);
    /* padding: 1rem 2rem; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 100px;
    display: flex;
    align-items: center;
    /* margin: 30px 0 0 30px; */
    margin-right: 1rem;
    /* padding: 25px; */
    /* height: auto; */
    /* left: 30px; */
}

nav{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

nav ul{
    list-style-type: none;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    /* margin: 0; */
    /* padding: 0; */
}

nav li{
    /* display: inline; */
    /* padding: 20px; */
    margin-left: 2rem;
    display: flex;
    font-size: 1.2rem;

}

nav a{
    text-decoration: none;
    color: var(--background-color);
    font-family: "Poppins", sans-serif;
    /* font-size: 1rem; */
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
nav a:hover{
    color: var(--accent2-color);
}



main{
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
}

h2{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0;
}


#reviews{
    color: var(--accent1-color);
    background: #f4f4ff;
    padding: 2rem;
    margin-bottom: 1.5rem;

}

#reviews p{
    padding: 1.3rem;
    /* margin: 2rem; */
    color: var(--accent1-color);
    font-size: 1.4rem;
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    transition: transform ease-in-out;

}

#reviews p:hover{
    background-color: var(--accent1-color);
    color: var(--background-color);
}

#gallery{
    color: var(--accent1-color);
    padding: 2rem;
    background: #f9f9f9;
    text-align: center;
    margin-bottom: 1.5rem;

}

#gallery p{
    font-size: 1.4rem;
    color: var(--accent1-color);
    font-weight: bold;
}

#gallery img{
    /* border: 50%; */
    width: 500px;
    height: 300px;
    border-radius: 8px;
}


.about-us{
    position: absolute;
    color: var(--background-color);
    font-family: var(--heading-font);
    justify-content: center;
    text-align: center;
    background-color: rgba(233, 233, 238, 0.619);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

/* trip css */
#trips{
    padding: 2rem;
    background-color: #f9f9f9;
    margin-bottom: 1.5rem;
    color: var(--accent1-color);
    /* font-size: 20rem; */
}

.trip-container{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    
}

.trip{
    max-width: 800px;
    height: 350px;
    border: 1px solid #00796b;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

.trip h3{
    font-size: 1.5rem;
}
.trip h4{
    font-size: 1.3rem;
    font-weight: bold;
}
.trip p{
    font-size: 1.2rem;
}

.trip ul{
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    /* font-weight: bold; */
}
.trip ul li{
    padding: .2rem;
    margin: .3rem;
}

#trip-gallery{
    padding: 2rem;
    background: #f9f9f9;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--accent1-color);
    
}

.gallery-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}


.gallery-item img{
    max-width: 100%;
    height: auto;
}

#booking{
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* background-color: #f9f9f9; */

}
.booking{
    width: 300px;
    height: 350px;
} 
.booking select{
    display: flex;
    margin: .5rem;
}


.booking label{
    display: flex;
    /* margin: 1rem; */

}
.booking input{
    padding: .5rem;
    width: 280px;
    /* margin-left: 5rem; */
}

#booking button{
    margin: 2rem 0;
    /* text-align: center; */
}

form input, form select, form button{
    padding: 0.5rem;
    margin-top: 0.5rem;
    /* width: 100%; */
}

#faq{
    color: var(--accent1-color);
    background: #f4f4ff;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

#faq p{
    padding: 1.3rem;
    font-size: 1.4rem;
    border: 2px solid var(--accent2-color);
    border-radius: 8px;
    transition: transform ease-in-out;
}
#map{
    color: var(--accent1-color);
    background: #f4f4ff;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.contact-us{
    color: var(--accent1-color);
    font-family: var(--heading-font);
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
}

.company-info{
    color: var(--background-color);
    margin-bottom: 30px;
    overflow: hidden;
    background-color: var(--accent1-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.company-info a{
    color: var(--background-color);
}


.employee {
    color: var(--background-color);
    margin-bottom: 2rem;
    padding: 4px 2rem;
    background-color: var(--accent1-color);
}

.employee img {
    display: flex;
    justify-content: flex-end;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.employee figcaption{
    font-size: 1.15rem;
    font-weight: bold;
    margin-top: 0.5rem;
    text-align: center;
}
.employee-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employee figure{
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .contact-us{
    display: flex;
    font-size: 12px;
}

form .message{
    /* display: flex; */
    margin-top: 15px;

}
input[type="radio"]{
    width: .8rem;
    vertical-align: bottom;
    /* height: .8rem; */
}

.message textarea{
    padding: 20px;
    margin: 5px;
    justify-content: flex-start;
}

.subscribe label{
    padding-top: 0;
    /* margin-left: ; */
}

.history{
    padding: 1rem ;
    margin-top: 10px;
    background-color: var(--secondary-color);
    color: #f5f5f5;
}

.history-content{
    display: flex;
}

/* .history h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
} */

.history-content p{
    padding: 1px;
    margin: 1rem;
    display: flex;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--background-color);

}

.history-image img{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
}
.adventure{
    padding: 4rem 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--accent1-color);
    color: var(--background-color);
}

/* .adventure h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
} */

.adventure-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adventure-grid figure{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventure-grid img{
    display: flex;
    justify-content: flex-end;
    width: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.adventure-grid figcaption{
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0.5rem;
    text-align: center;
}
article{
    position: absolute;
}
article img{
    float: right;
}
/* article h2{
    color: var(--background-color);
} */
.article-content p {
    color: var(--accent2-color);
}
.hero{
    position: relative;
    background-size: cover;
    height: 400px;
    margin-bottom: 1rem;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero h1 {
    position: absolute;
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.5);
    color: var(--accent2-color);
}
.hero article{
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: rgba(39, 29, 214, 0.537);
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    width: 90%;
    height: 140px;
}

.hero article p{
    /* float: right; */
    color: var(--background-color);
    /* top: 20px; */
    font-size: large;
}
.hero article img{
    width: 200px;
    height: 140px;
    border-radius: 5px;
    margin-left: 10px;
}

section{
    padding: 2rem;
    border-bottom: 3px solid var(--accent2-color);
}

#newsletter-welcome { 
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: #f4f4ff;
    margin-top: 1.5rem;
    border: 1px solid var(--accent1-color);
    border-radius: 8px;
    color: var(--accent1-color);
}

.newsletter, .welcome{
    flex: 1;
    margin: 0 1rem;
    font-size: 1.1rem;
}

.newsletter h2, .welcome h2{
    margin-top: 0;
    font-size: 1.8rem;
}
.welcome .explore-button{
    align-items: center;
    margin: 5rem;
}
.welcome p{
    font-size: 1.5rem;
}

.vertical-line{
    width: 2px;
    background-color: var(--accent1-color);
    margin: 0 1rem;
}

.newsletter form{
    display: flex;
    flex-direction: column;
}

.newsletter button{
    margin-top: 0.9rem;
}

/* .newsletter input{
    margin: .2rem;
}  */
/* 
#newsletter form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
} */




/* #newsletter label, #newsletter input, #newsletter button{
    margin-bottom: 1rem;
} */



#explore{
    color: var(--accent1-color);
    text-align: center;
    margin-bottom: 1.5rem;
    /* margin-top: 0; */
    /* margin-top: 1.5rem; */

}

p{
    font-size: 1.5rem;
}

.explore-button{
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--accent1-color);
    color: var(--background-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;

}
.explore-button:hover{
    color: var(--accent1-color);
    background-color: var(--accent2-color);

}

#offerings{
    color: var(--accent1-color);
    padding: 2rem;
    background: #f9f9f9;
    text-align: center;
    margin-bottom: 1.5rem;
    /* margin-top: 1.5rem; */

}
#offerings h3{ 
    font-size: 1.4rem;
}
#offerings p{
    /* padding: 2rem; */
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.grid-item{
    text-align: center;
    /* width: 20px; */
    /* height: 20px; */
    /* border-radius: 50%; */
}

.grid-item img{
    max-width: 100%;
    height: auto;
}



form{
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    background-color: var(--accent1-color);
    color: var(--background-color);
    /* display: grid; */
}
form button{
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 300px;
    border-radius: 8px;
}

form .form-item{
    display: grid;
    align-items: center;
    margin: 1.2rem;
    padding: 0.1rem;
}
/* form h2{ */
    /* align-items: center; */
    /* text-align: center; */
    /* font-size: 2.5rem; */
/* } */

.container{
    /* position: relative; */
    margin: 60px;
    display: block;
    justify-content: center;
    /* text-align: center; */
    font-size: 3rem;
    /* top: 0; */
    background-color: var(--accent2-color);
    /* left: 0; */
    /* right: 0; */
    /* text-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.5); */
    /* color: var(--accent2-color); */
}

fieldset{
align-items: center;
justify-content: center;
/* margin-top: 1rem; */
margin: 1rem auto;
max-width: 300px;
/* padding: 2rem; */
box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
border-radius: 8px;
}

label, input, button, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
}

/* button{
    display: block;
    justify-content: center;
    align-items: center;
    width: 200px;
} */

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"]{
    width: 20px;
    height: 15px;
    vertical-align: bottom;
    margin-top: 15px;
    margin: 0.1rem;
}


button{
    max-width: 10rem;
    margin: 1rem;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: .75rem;
    /* font-size: 1.5rem; */
}

button:hover{
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

footer {
    max-width: 1150px;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 1.5rem;
    margin-bottom: 5.5px;
}
.footer-content{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    max-width: 1200px;
    /* background-color: var(--secondary-color); */
    margin: 0 auto;
}

.footer-content p{
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: 1.1rem;
}
.footer-content p a{
    color: var(--accent1-color);
    text-decoration: none;
    /* font-size: 1rem; */
    margin: 1rem;
    padding-right: 10rem;
}

.social-icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}


.social-icon img{
    /* display: flex; */
    /* justify-content: flex-end; */
    /* flex-direction: column; */
    width: 30px;
    height: 30px;
    margin: 0 8px;
}

.social-icons{
    display: flex;
    align-items: center;
    /* margin-left: 1rem; */
    margin-right: 30px;
}
